<section id="blog" class="blogs">
    <div class="blog-previews-container">
        <div class="blog-preview" ng-repeat="post in vm.posts">
            <div class="blog-preview-title-container">
                <div class="blog-preview-heading">
                    <div class="blog-preview-author">{{post.author}}</div>
                    <div class="blog-preview-date">{{post.date}}</div>
                </div>
                <div class="blog-preview-title">{{post.title}}</div>
            </div>
            <div class="blog-preview-text-container">
                <div class="blog-preview-text">{{vm.parseText(post.text)}}</div>
                <a>Read More...</a>
                <div class="blog-preview-tags">
                    <div class="chip" ng-repeat="tag in post.tags">{{tag}}</div>
                </div>
            </div>
        </div>
    </div>
</section>