section.apply {
  background-color: white;
	padding-top: 2em;
	padding-bottom: 4em;

  h1 {
    @include font($display-font, 1.8em, 700);
  }

  p {
    font-size: 1.1em;
  }

  @media #{$small-and-down} {
    h1 {
      font-size: 1.4em;
    }

    p {
      font-size: 1em;
    }
  }

  .breadcrumb-nav {
    box-shadow: none;
    
    .breadcrumb {
      cursor: pointer;
    }

    .nav-wrapper {
      padding: 0;
    }

    .breadcrumb, .breadcrumb::before {
      color: $dark-blue;
    }
  }

  .btn {
    background-color: white !important;
    color: $dark-blue;
  }

  .submit-btn {
    float: right;
  }
}
