section.apply {
  background-color: white;
	padding-top: 2em;
	padding-bottom: 4em;

  h1 { @include font($display-font, 1.8em, 700); }

  h2 {
    @include font($display-font, 1.2em, 800);
    margin-top: 0;
  }

  p { font-size: 1.1em; }

  .input-field {
    label {
      font-size: 1.1em;
      color: $blue;
    }
  }

  @media #{$medium-and-down} {
    #toast-container {
      top: 50px !important;
      right: 30px !important;
    }
  }

  @media #{$small-and-down} {
    h1 { font-size: 1.4em; }

    p { font-size: 1em; }

    #toast-container {
      top: 50px !important;
      right: 30px !important;
    }
  }

  .breadcrumb-nav {
    box-shadow: none;
    margin-bottom: 20px;

    .breadcrumb {
      cursor: pointer;
    }

    .nav-wrapper {
      padding: 0;
    }

    .breadcrumb, .breadcrumb::before {
      color: $dark-blue;
    }
  }

  .btn {
    background-color: white !important;
    color: $dark-blue;
  }

  .form-nav-btn {
    margin: 0 20px;
  }

  .form-container {
    width: 100%;
    min-height: 400px;
  }
}

@media #{$medium-and-down} {
  #toast-container {
    top: 74px !important;
    right: 30px !important;
    left: auto !important;
    bottom: auto !important;
    max-width: 90%;
  }

  .form-container {
    min-height: 300px !important;
  }
}

@media #{$small-and-down} {
  .breadcrumb-nav .breadcrumb {
    font-size: 1em;
  }

  .form-nav-btn {
    margin: 0 10px !important;
  }

  #toast-container {
    padding: 10px;
    top: 50px !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    max-width: 90%;
  }
}
