.blogs {
  background-color: white;
  padding: 30px;
  font-family: "Source Sans Pro", sans-serif;

  .blog-previews-container {
    width: 650px;
    margin: 4em auto;
    line-height: 2rem;

    .blog-preview {
      width: 100%;
      margin-bottom: 2em;

      .blog-preview-title-container {
        .blog-preview-heading {
          display: inline-flex;
          width: 100%;
          border-bottom: 1px dotted #000;
          padding-bottom: .5em;
          margin-bottom: .5em;

          .blog-preview-category {
            text-align: left;
            width: 50%;
          }
          .blog-preview-date {
            text-align: right;
            width: 50%;
          }
        }
        .blog-preview-title {
          font-weight: 700;
          font-size: 1.5em;
          line-height: 1.5em;
        }
        .blog-preview-author-container {
          //padding: 1em 0;

          .blog-preview-author {

          }
          .blog-preview-author::before {
            content: 'By ';
          }
        }
      }
      .blog-preview-text-container {
        .blog-preview-text {
          margin-top: 1em;
          white-space: pre-wrap;
          font-weight: 300;
          position: relative;
          height: 100px;
          overflow: hidden;
        }
        .blog-preview-text::after {
          content: "";
          position: absolute;
          z-index: 1;
          bottom: 0;
          left: 0;
          pointer-events: none;
          background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
          width: 100%;
          height: 4em;
        }
        .blog-preview-tags {
          margin-top: 1em;
        }
      }
    }
  }
}

.blog-post {
  background-color: white;
  padding: 30px;
  font-family: "Source Sans Pro", sans-serif;

  .close-button {
    position: fixed;
    top: 6em;
    left: 2em;
    cursor: pointer;

    i { vertical-align: middle; }
  }

  .blog-container {
    width: 650px;
    margin: 4em auto;
    line-height: 2rem;

    .blog-title-container {
      .blog-heading {
        display: inline-flex;
        width: 100%;
        border-bottom: 1px dotted #000;
        padding-bottom: .5em;
        margin-bottom: .5em;
        font-size: 16px;

        .blog-category {
          text-align: left;
          width: 50%;
        }
        .blog-date {
          text-align: right;
          width: 50%;
        }
      }
      .blog-title {
        font-weight: 700;
        font-size: 3em;
        line-height: 1.2em;
      }
      .blog-author-container {
        padding: 1em 0 0 0;
        font-size: 16px;

        .blog-author {}
        .blog-author::before {
          content: 'By ';
        }
      }
    }
    .blog-text-container {
      .blog-text {
        font-weight: 300;
        position: relative;
        font-size: 16px;
        line-height: 2em;

        strong {
          font-weight: 500;
        }

        code {
          font-family: "Consolas", "Courier New", sans-serif;
          background-color: #F7F7F7;
          border: 1px solid #E1E1E1;
          font-size: smaller;
          padding: 2px 5px;
          margin: 0 2px;
          border-radius: 3px;
          vertical-align: middle;
        }

        .blog-post-image {
          width: 80%;
          margin: 1em auto;
          display: block;
        }
      }
      .blog-tags {
        margin-top: 30px;
      }
    }

    .blog-comments {
      margin-top: 5em;
    }
  }
}

@media #{$medium-and-down} {
  .blog-previews-container, .blog-container {
    width: 550px !important;
  }
  .close-button {
    display: none !important;
  }
  .blog-post-image {
    width: 100% !important;
  }
}

@media #{$small-and-down} {
  .blog-previews-container, .blog-container {
    width: 440px !important;
  }
  .blog-title {
    font-size: 2.5em !important;
  }
}

@media only screen and (max-width: 500px) {
  .blog-post {
    padding: 20px;
  }
  .blog-previews-container, .blog-container {
    width: 360px !important;
  }
}

@media only screen and (max-width: 400px) {
  .blog-post {
    padding: 20px;
  }
  .blog-previews-container, .blog-container {
    width: 320px !important;
  }
  .blog-title {
    font-size: 2em !important;
  }
}

@media only screen and (max-width: 350px) {
  .blog-post {
    padding: 10px;
  }
  .blog-previews-container, .blog-container {
    width: 290px !important;
  }
  .blog-title {
    font-size: 2em !important;
  }
}