footer.page-footer {
	margin-top: 0;
	min-height: 400px;

	background-image: url('../img/footer-background.png');
	background-size: 100% auto;
	@media #{$small-and-down} {
		background-size: auto 100%;
	}
	background-position: center center;

	div.footer-content {
		height: 300px;

		div.footer-container {
			width: 100%;

			h5 {
				@include font($display-font, 1.2em, 800);
				text-transform: uppercase;
			}

			ul {
				li {
					a:hover {
						color: white !important;
						@include transition(all ease 0.4s);
					}
				}
			}
		}
	}

	@media #{$medium-and-down} {
		div.footer-content {
			height: 320px;

			div.footer-container {
				h5 { font-size: 0.9em; }
			}
		}
	}

	@media #{$small-and-down} {
		div.footer-content {
			height: 720px;

			ul {
				li {
					padding: 3px 0;
				}
			}
		}
	}

	div.signature {
		color: $grey;
		padding-bottom: 1em;
	}
}
