nav {
  background-color: color("shades", "white");

  a.brand-logo {
    height: inherit;

    .logo-wrapper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      .valign-wrapper .valign {
        display: inline-flex;
      }
    }

    div.logo {
      cursor: pointer;
    	height: inherit;
      display: inline-flex;

			img {
   		  position: relative;
   		  height: 40px;
   	  }

      @media #{$medium-and-down} {
        img {
          transform: translateX(-24px) translateY(-50%);
        }
      }
    }
  }

  a.button-collapse i {
    margin-left: 0.5em;
  }

  ul {
    a {
      @include font($content-font, 1em, 400);
      color: color("blue-grey", "darken-4");
    }

    a.apply-btn {
      font-weight: 700;
    }
  }

  @include transition(all ease 0.6s);
}

@media #{$large-and-up} {
  .nav-wrapper {
    padding-left: 1em;
    padding-right: 6em;
  }

  nav.clearNav {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0) !important;
  }

  div.nav-wrapper.clearNav {
    background-color: rgba(0, 0, 0, 0);

    ul {
      a {
        color: color("shades", "white");
      }
    }

    @include transition(background-color ease 0.6s);
  }
}
