@import 'materialize/materialize';
@import 'bourbon/bourbon';

/* Custom Fonts */
@font-face {
	font-family: 'Gidole';
	src: url('/fonts/gidole/Gidole-Regular.eot'); /* IE9 Compat Modes */
	src: url('/fonts/gidole/Gidole-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/gidole/Gidole-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('/fonts/gidole/Gidole-Regular.woff') format('woff'), /* Pretty Modern Browsers */
	url('/fonts/gidole/Gidole-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('/fonts/gidole/Gidole-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* Mixins */
@mixin font($name, $size, $weight) {
	font-family: $name, sans-serif;
	font-size: $size;
	font-weight: $weight;

	@if $name == $display-font {
		@if $size > 2em {
			letter-spacing: 3px;
		}
		@else {
			letter-spacing: 1px;
		}
	}
}

/* Fonts */
// Abel, Ropa Sans, Heebo, Cairo, Assistant
// $display-font: 'Abel';
$display-font: 'Ropa Sans';
$alt-display-font: 'Open Sans';
// $display-font: 'Heebo';
// $display-font: 'Cairo';
// $display-font: 'Assistant';
$content-font: 'Gidole';
// $content-font: 'Open Sans';

/* Official Theme Colors */
$dark-blue: #2F3540;
$blue: #666A73;
$light-grey: #F2EDE4;
$grey: #D9D1C7;
$dark-grey: #8C8681;

/* Specific Colors */
$cover-color: #293D48;

/* Global Styles */
html {
	font-family: $content-font;
	color: $dark-blue;
}

body {
	background-color: $light-grey;
}

strong {
	font-weight: 700;
}

h1.brand-title {
  @include font('Montserrat', .8em, 800);
  color: $dark-blue;
  display: inline;
  margin: 0 0 0 10px;
}

h1 {
	margin-bottom: 0.4rem;
}

div.shade-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $dark-blue;
	opacity: 0.5;
}

.uppercase {
	text-transform: uppercase;
}

.inline {
	display: inline-block;
}

.parallax-container {
	height: 160px;

	.title-cover {
		width: 100%;
		height: 160px;
		margin-bottom: 2em;
		overflow: hidden;

		.text-container {
			width: 100%;
			padding-left: 0.8em;
			padding-right: 0.8em;
			z-index: 999;

			h3 {
				@include font($alt-display-font, 1.8em, 600);
				letter-spacing: 2px;
				margin-bottom: 0.2em;
			}

			p {
				@include font($content-font, 1.2em, 200);
				margin-top: 0.4em;
				opacity: 0.9;
			}
		}
	}
}

/* Import Custom Styles */
@import 'main';
@import 'cover';
@import 'overview';
@import 'nav';
@import 'footer';
@import 'contact';
@import 'project';
@import 'companies';
