@import 'materialize/materialize';
@import 'bourbon/bourbon';

/* Mixins */
@mixin font($name, $size, $weight) {
	font-family: $name, sans-serif;
	font-size: $size;
	font-weight: $weight;

	@if $name == 'Blender Pro' {
		letter-spacing: 1px;
	}
}

/* Fonts */
$display-font: 'Monda';
$content-font: 'Open Sans';

/* Official Theme Colors */
$dark-blue: #2F3540;
$blue: #666A73;
$light-grey: #F2EDE4; 
$grey: #D9D1C7;
$dark-grey: #8C8681;

/* Specific Colors */
$cover-color: #293D48; 

/* Global Styles */
html {
	font-family: $content-font;
	color: $dark-blue;
}

body {
	background-color: $light-grey;
}

strong {
	font-weight: 700;
}

div.shade-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $dark-blue;
	opacity: 0.5;
}

.uppercase {
	text-transform: uppercase;
}

/* Import Custom Styles */
@import 'main';
@import 'cover';
@import 'overview';
@import 'nav';
@import 'footer';