<footer class="page-footer">
	<div class="valign-wrapper footer-content">
		<div class="valign footer-container">
			<div class="container">
				<div class="row">
					<div class="col offset-m1 m2 s12">
						<h5 class="white-text">About</h5>
						<ul>
							<li><a class="grey-text text-lighten-1" href="#/">Overview</a></li>
							<li><a class="grey-text text-lighten-1" href="#/">Traditions</a></li>
							<li><a class="grey-text text-lighten-1" href="#/">Workflow</a></li>
							<li><a class="grey-text text-lighten-1" href="#/">Team</a></li>
						</ul>
					</div>
					<div class="col m2 s12">
						<h5 class="white-text">Projects</h5>
						<ul>
							<li><a class="grey-text text-lighten-1" href="#/projects">Mission</a></li>
							<li><a class="grey-text text-lighten-1" href="#/projects">Current</a></li>
							<li><a class="grey-text text-lighten-1" href="#/projects">Past</a></li>
						</ul>
					</div>
					<div class="col m2 s12">
						<h5 class="white-text">Companies</h5>
						<ul>
							<li><a class="grey-text text-lighten-1" href="#/companies">Sponsor</a></li>
							<li><a class="grey-text text-lighten-1" href="#/companies">Host</a></li>
							<li><a class="grey-text text-lighten-1" href="#/companies">Contribute</a></li>
						</ul>
					</div>
					<div class="col m2 s12">
						<h5 class="white-text">Contact</h5>
						<ul>
							<li><a class="grey-text text-lighten-1" href="#/contact">Email</a></li>
							<li><a class="grey-text text-lighten-1" href="#/contact">Facebook</a></li>
							<li><a class="grey-text text-lighten-1" href="#/contact">Twitter</a></li>
						</ul>
					</div>
					<div class="col m2 s12">
						<h5 class="white-text">Apply</h5>
						<ul>
							<li><a class="grey-text text-lighten-1" href="#/apply">Process</a></li>
							<li><a class="grey-text text-lighten-1" href="#/apply">Timeline</a></li>
							<li><a class="grey-text text-lighten-1" href="#/apply">Members</a></li>
							<li><a class="grey-text text-lighten-1" href="#/apply">Application</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container signature">
		<div class="row">
			<div class="col offset-m1 s8">
				<p>&copy; Launchpad 2016</p>
			</div>
		</div>
	</div>
</footer>
