<footer class="page-footer valign-wrapper">
<div class="valign footer-container">
		<div class="container">
			<div class="row">
				<div class="col l2 m3 s12">
					<h5 class="white-text">About</h5>
					<ul>
						<li><a class="grey-text text-lighten-1" href="#/about">About us</a></li>
					</ul>
				</div>
				<div class="col l2 m3 s12">
					<h5 class="white-text">Join</h5>
					<ul>
						<li><a class="grey-text text-lighten-1" href="#/students">Students</a></li>
						<li><a class="grey-text text-lighten-1" href="#/mentors">Mentors</a></li>
						<li><a class="grey-text text-lighten-1" href="#/partners">Partners</a></li>
					</ul>
				</div>
				<div class="col l2 m3 s12">
					<h5 class="white-text">Team</h5>
					<ul>
						<li><a class="grey-text text-lighten-1" href="#/team">Current Team</a></li>
					</ul>
				</div>
				<div class="col l3 m3 s12">
					<h5 class="white-text">Worksheets</h5>
					<ul>
						<li><a class="grey-text text-lighten-1" href="https://drive.google.com/drive/u/0/folders/0B_cSwa5INrcIfmdMeHNhZlg5c0tBbnJMZFhqRzNtTGZjUjZvTG9zUk1lWTNLdjJSLWFxLTQ" target="_blank">Released worksheets</a></li>
					</ul>
				</div>
				<div class="col l2 m3 s12">
					<h5 class="white-text">Portal</h5>
					<ul>
						<li><a class="grey-text text-lighten-1" href="http://csmscheduler.herokuapp.com/">Scheduler app</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>