<footer class="page-footer">
	<div class="valign-wrapper footer-content">
		<div class="valign footer-container">
			<div class="container">
				<div class="row">
					<div class="col offset-m1 m2 s12">
						<h5 class="white-text">About</h5>
						<ul>
							<li><a class="grey-text text-lighten-1" href="#/#overview">Overview</a></li>
							<li><a class="grey-text text-lighten-1" href="#/#traditions">Traditions</a></li>
						</ul>
					</div>
					<div class="col m2 s12">
						<h5 class="white-text">Projects</h5>
						<ul>
							<li><a class="grey-text text-lighten-1" href="#/projects#purpose">Purpose</a></li>
							<li><a class="grey-text text-lighten-1" href="#/projects#current">Current</a></li>
							<li><a class="grey-text text-lighten-1" href="#/projects#past">Past</a></li>
						</ul>
					</div>
					<div class="col m2 s12">
						<h5 class="white-text">Companies</h5>
						<ul>
							<li><a class="grey-text text-lighten-1" href="#/companies#request">Request</a></li>
							<li><a class="grey-text text-lighten-1" href="#/companies#sponsors">Sponsors</a></li>
						</ul>
					</div>
					<div class="col m2 s12">
						<h5 class="white-text">Contact</h5>
						<ul>
							<li><a class="grey-text text-lighten-1" href="#/contact">Email</a></li>
							<li><a class="grey-text text-lighten-1" href="http://m.me/callaunchpad" target="_blank">Facebook</a></li>
							<li><a class="grey-text text-lighten-1" href="https://twitter.com/callaunchpad" target="_blank">Twitter</a></li>
						</ul>
					</div>
					<div class="col m2 s12">
						<h5 class="white-text">Apply</h5>
						<ul>
							<li><a class="grey-text text-lighten-1" href="#/apply#values">Values</a></li>
							<li><a class="grey-text text-lighten-1" href="#/apply#process">Process</a></li>
							<li><a class="grey-text text-lighten-1" href="#/apply#application">Application</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container signature">
		<div class="row">
			<div class="col offset-m1 s8">
				<p>&copy; Launchpad 2016</p>
			</div>
		</div>
	</div>
</footer>
