@import "_variables";

// Text
@mixin title-font {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

@mixin heading-font {
  font-family: 'Monda', 'Helvetica', 'Arial', sans-serif;
}

@mixin body-font {
  font-family: 'Karla', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

@mixin h1-font {
  @include heading-font;
  font-size: $h1-fontsize;
  font-weight: 700;
}

@mixin h2-font {
  @include heading-font;
  font-size: $h2-fontsize;
  font-weight: 700;
}

@mixin h3-font {
  @include body-font;
  font-size: $h3-fontsize;
  font-weight: 700;
}

@mixin p-font {
  @include body-font;
  font-size: $p-fontsize;
  font-weight: 400;
}

// Parallax
@mixin parallax_layer($depth) {
  transform: translateZ(-#{$depth}px) scale(calc(1 + #{$depth} / #{$viewport-perspective}));
}

// Format
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

@mixin relative-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

@mixin transform-origin-x {
  transform-origin-x: 100%;
  -moz-transform-origin-x: 100%;
  -webkit-transform-origin-x: 100%;
}

@mixin perspective-origin-x {
  perspective-origin-x: 100%;
  -moz-perspective-origin-x: 100%;
  -webkit-perspective-origin-x: 100%;
}
