// Main Color Scheme
$tuna: #2F3540;
$nevada: #666A73;
$alabaster: #F2EDE4;
$swisscoffee: #D9D1C7;
$naturalgrey: #8C8681;
$main-1: $tuna;
$main-2: $nevada;
$main-3: $alabaster;
$main-4: $swisscoffee;
$main-5: $naturalgrey;

// Accent Colors
$darkpastelred: #C13C2E;
$carminepink: #E94D3D;
$flamingo: #EB6050;
$accent-1: $darkpastelred;
$accent-2: $carminepink;
$accent-3: $flamingo;

// Text
$title-fontsize: 72px;
$h1-fontsize: 24px;
$h2-fontsize: 18px;
$h3-fontsize: 16px;
$p-fontsize: 14px;
$small-fontsize: 12px;

// Buttons
$button-borderradius: 3px;

// Parallax
$viewport-perspective: 1;
$section-size: 40vh;

// Format
$section-padding: 30px;
