// n is number of stars required
@function multiple-box-shadow ($n) {
  $value: '#{random(1500)}px #{random(1500)}px #FFF';
  @for $i from 2 through $n {
      $value: '#{$value} , #{random(1500)}px #{random(1500)}px #FFF';
  }

  @return unquote($value)
}

$shadows-small:  multiple-box-shadow(10);
$shadows-big:    multiple-box-shadow(10);

.stars {
  border-radius: 50%;
  background: transparent;

  &:after {
    border-radius: 50%;
    content: " ";
    position: absolute;
    top: 1500px;
    background: transparent;
  }
}

.stars1 {
  width: 2px;
  height: 2px;
  box-shadow: $shadows-small;
  // animation: animStar 50s linear infinite;

  &:after {
    width: 2px;
    height: 2px;
    box-shadow: $shadows-small;
  }
}

.stars2 {
  width: 4px;
  height: 4px;
  box-shadow: $shadows-big;
  // animation: animStar 150s linear infinite;

  &:after {
    width: 4px;
    height: 4px;
    box-shadow: $shadows-big;
  }
}

.star-container {
  background: radial-gradient(ellipse at bottom, $main-1 0%, black 100%);
}

// @keyframes animStar {
//   from{
//     transform: translateY(0px);
//   }
//   to {
//     transform: translateY(-2000px);
//   }
// }
