<div class="parallax-container">
  <div class="parallax">
    <div class="title-cover valign-wrapper">
      <div class="text-container valign center">
        <h3 class="white-text">Projects</h3>
        <p class="white-text">Our vision is to build upon research at UC Berkeley by translating theory into meaningful projects.</p>
      </div>
    </div>
    <img class="cover-img" src="img/star-background.jpg">
  </div>
</div>

<section class="projects">
  <div class="container">
    <a id="purpose" class="anchor"></a>
    <h1 class="title uppercase">Purpose</h1>
    <div class="divider"></div>
    <p>
      With self-learning software at the frontier of technology, we can solve meaningful problems through intelligent projects.
      Check out how we are applying these powerful algorithms to build industry-standard systems.
    </p>
    <a id="current" class="anchor"></a>
    <h1 class="title uppercase">Current Projects - Spring 2017</h1>
    <div class="divider"></div>
    <div class="row">
    <div class="col s12">
      <div id="sherlock" class="card project">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="img/projects/sherlock.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Recognition CV: Bridging Computer Vision and Web Development<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title">Recognition CV<i class="material-icons right">close</i></span>
          <div class="card-content">
            <h3>Computer Vision</h3>
            <div class="divider"></div>
            <ul>
              <li>Open-source toolkit for creating computer vision projects on the web.</li>
              <li>Provides image processing and object recognition algorithms to web development.</li>
            </ul>
            <h3>Description</h3>
            <p><strong>Recognition CV</strong> is a web API that connects computer vision algorithms in OpenCV to web languages and frameworks. We implement, optimize, and apply custom methods to provide image processing and analysis for the internet.</p>
            <div class="content-links">
              <a class="waves-effect waves-teal btn-flat" href="https://github.com/callaunchpad/RecognitionCV" target="_blank">Source Code</a>
              <a class="waves-effect waves-teal btn-flat">Project</a>
              <a class="waves-effect waves-teal btn-flat">Documentation</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12">
      <a id="lively" class="anchor"></a>
      <div class="card project">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="img/projects/lively.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Lively: An Intelligent Social Network<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title">Project Lively<i class="material-icons right">close</i></span>
          <div class="card-content">
            <h3>Mobile Application</h3>
            <div class="divider"></div>
            <ul>
              <li>Update your current status and activity.</li>
              <li>View what your friends are doing and see who’s free.</li>
            </ul>
            <h3>Description</h3>
            <p>We believe in connecting people not only online, but also in everyday life. <strong>Project Lively</strong> aims connect people by revealing your friends that are close by and immediately available. We use graph theory, machine learning, AI, and data science techniques to ensure that you spend less time scrolling through your phone and more time with your friends.</p>
            <div class="content-links">
              <a class="waves-effect waves-teal btn-flat">Source Code</a>
              <a class="waves-effect waves-teal btn-flat">Project</a>
              <a class="waves-effect waves-teal btn-flat">Documentation</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12">
      <a id="whisper" class="anchor"></a>
      <div class="card project">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="img/projects/whisper.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Whisper: Powering the Web with Voice Control<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title">Project Whisper<i class="material-icons right">close</i></span>
          <div class="card-content">
            <h3>Full-stack Web Application/Browser Plugin</h3>
            <div class="divider"></div>
            <ul>
              <li>Create an accessible web through voice recognition and navigation.</li>
            </ul>
            <h3>Description</h3>
            <p>We believe that accessibility should be a priority for browsers and search engines. With <strong>Project Whisper</strong>, users can use their voices to access the full power of the internet. We use the Wit.ai API for its Natural Language, Voice Recognition, and Sentiment Analysis capabilities to build a browser that puts accessibility first.</p>
          </div>
          <div class="content-links">
            <a class="waves-effect waves-teal btn-flat">Source Code</a>
            <a class="waves-effect waves-teal btn-flat">Project</a>
            <a class="waves-effect waves-teal btn-flat">Documentation</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>

<script>
  (function($) {
    $('.parallax').parallax();
  })(jQuery);
</script>
