<div id="particles-js" class="cover-wrapper">
	<div class="cover valign-wrapper">
		<div class="text-container valign center">
			<h1 class="white-text">Projects with Intelligent Software</h1>
			<p class="white-text">We are a group of UC Berkeley Students that solve problems by building intelligent software. By connecting research in artificial intelligence, machine learning, and data science, our teams build projects that impact people globally.</p>
		</div>
	</div>
	<div class="shade-overlay"></div>
</div>

<section class="overview">
	<div class="container">
		<div class="tagline">
			<div class="row center">
				<h1 class="uppercase">Research, Development, Interdisciplinary</h1>
				<p>By connecting teams to research in computer science, developing with modern techniques and technology, and targeting specific disciplines, we build <strong>projects with a purpose</strong> - that impact communities and people globally.</p>
			</div>
		</div>

		<div class="row">
			<div class="col s12 m4 center">
				<img src="img/icons/icon1.svg">
				<h2>Artificial Intelligence</h2>
				<p>We build modern applications that can adapt and react based user behavior and human interaction.</p>	
			</div>

			<div class="col s12 m4 center">
				<img src="img/icons/icon2.svg">
				<h2>Machine Learning</h2>
				<p>Through neural networks and data analytics, the performance of our projects are accurate and reliable.</p>
			</div>

			<div class="col s12 m4 center">
				<img src="img/icons/icon3.svg">
				<h2>Data Science</h2>
				<p>Our projects are data driven by large datasets so that we can build scalable and intuitive software.</p>
			</div>
		</div>
	</div>
</section>

<div class="parallax-container">
	<div class="parallax">
		<div class="title-cover valign-wrapper">
			<div class="text-container valign center">
				<h3 class="white-text">Traditions</h3>
				<p class="white-text">In our family, we believe in working as a team to build projects, host events, and find opportunities.</p>
			</div>
		</div>
		<img class="cover-img" src="img/star-background.jpg">
	</div>
</div>

<section id="traditions" class="overview">
	<div class="container">
		<div class="row">
			<h1 class="uppercase">Events</h1>
			<div class="divider"></div>
			<p>Throughout the semester, we host events for our members and the CS community at UC Berkeley.</p>
			<div class="col s12 m4 center">
				<img src="img/icons/icon1.svg">
				<h2>"Battle of the Nerds" Hackathon</h2>
				<p>We invite clubs on campus to send teams of 5 to represent and battle in a competition of speed,  and innovation. Prizes are given to the clubs with the most innovative and </p>	
			</div>

			<div class="col s12 m4 center">
				<img src="img/icons/icon2.svg">
				<h2>Recruiting Workshops</h2>
				<p>We offer exclusive recruiting workshops for our members to gain experience in the industry. Our members that have interned at major tech companies host workshops on resumes, cover letters, and networking.</p>
			</div>

			<div class="col s12 m4 center">
				<img src="img/icons/icon3.svg">
				<h2>The Future of Machines and Software</h2>
				<p>Every semester, we invite guest speakers in the industry to talk about the latest trends and research in the tech industry including leaders in virtual reality, artificial intelligence, and data science.</p>
			</div>
		</div>
	</div>
</section>

<script>
	(function($) {
		$('.parallax').parallax();
		particlesJS.load('particles-js', 'config/particles.json');
	})(jQuery);
</script>
