<div id="particles-js" class="cover-wrapper">
	<div class="cover valign-wrapper">
		<div class="text-container valign center">
			<h1 class="white-text">Projects with Intelligent Software</h1>
			<p class="white-text">We are a group of UC Berkeley students that solve problems by building intelligent software. By connecting research in artificial intelligence, machine learning, and data science, our teams build projects that impact people globally.</p>
		</div>
	</div>
	<div class="shade-overlay"></div>
</div>

<section class="overview">
	<div class="container">
		<div class="tagline">
			<div class="row center">
				<h1 class="uppercase">Research, Development, Interdisciplinary</h1>
				<p>By connecting teams to research in computer science, developing with modern techniques and technology, and targeting specific disciplines, we build <strong>projects with a purpose</strong> - that impact communities and people globally.</p>
			</div>
		</div>

		<div class="row">
			<div class="col s12 m4 center">
				<img src="img/icons/icon1.svg">
				<h2>Artificial Intelligence</h2>
				<p>We build modern applications that can adapt and react based user behavior and human interaction.</p>
			</div>

			<div class="col s12 m4 center">
				<img src="img/icons/icon2.svg">
				<h2>Machine Learning</h2>
				<p>Through neural networks and data analytics, the performance of our projects are accurate and reliable.</p>
			</div>

			<div class="col s12 m4 center">
				<img src="img/icons/icon3.svg">
				<h2>Data Science</h2>
				<p>Our projects are data driven by large datasets so that we can build scalable and intuitive software.</p>
			</div>
		</div>
	</div>
</section>

<div class="parallax-container">
	<div class="parallax">
		<div class="title-cover valign-wrapper">
			<div class="text-container valign center">
				<h3 class="white-text">Traditions</h3>
				<p class="white-text">In our family, we believe in working as a team to build projects, host events, and find opportunities in the industry.</p>
			</div>
		</div>
		<img class="cover-img" src="img/star-background.jpg">
	</div>
</div>

<section id="traditions" class="overview">
	<div class="container">
		<div class="row">
			<div class="tagline">
				<div class="row center">
					<h1 class="uppercase">Workflow</h1>
					<p>Since we value a personal and inclusive environment, we do not expect our members to work alone or outside of organized meetings.</p>
				</div>
			</div>
			<div class="col s12 m6 center">
				<img src="img/icons/icon1.svg">
				<h2>Tech Tutorials</h2>
				<p>Our members attend tutorials on the software and theory that they need to build the project and work together.</p>
			</div>

			<div class="col s12 m6 center">
				<img src="img/icons/icon2.svg">
				<h2>Hack Nights</h2>
				<p>Most of our software is built at hack nights where the project leader and developers hack in an intense 4-5 hour session.</p>
			</div>
		</div>
	</div>
	<div class="row"></div>
	<div class="divider"></div>
	<div class="row"></div>
	<div class="container">
		<div class="row">
			<div class="tagline">
				<div class="row center">
					<h1 class="uppercase">Events</h1>
					<p>Throughout the semester, we host events for our members and the CS community at UC Berkeley.</p>
				</div>
			</div>
			<div class="col s12 m4 center">
				<img src="img/icons/icon1.svg">
				<h2>"Battle of the Nerds" Hackathon</h2>
				<p>We invite clubs on campus to send teams of 5 to represent their club and battle in a competition of speed, wit, and innovation.</p>
			</div>

			<div class="col s12 m4 center">
				<img src="img/icons/icon2.svg">
				<h2>Recruiting Workshops</h2>
				<p>We offer exclusive recruiting workshops for our members to find opportunities in the industry including resumes and networking.</p>
			</div>

			<div class="col s12 m4 center">
				<img src="img/icons/icon3.svg">
				<h2>The Future of Machines and Software</h2>
				<p>Every semester, we invite leaders in the industry to talk about the latest trends in artificial intelligence and virtual reality.</p>
			</div>
		</div>
	</div>
</section>

<script>
	(function($) {
		$('.parallax').parallax();
		particlesJS.load('particles-js', 'config/particles.json');
	})(jQuery);
</script>
