<div class="parallax-container">
  <div class="parallax">
    <div class="title-cover valign-wrapper">
      <div class="text-container valign center">
        <h3 class="white-text">Web Lab</h3>
        <p class="white-text">Visit our live demos and try out our technology.</p>
      </div>
    </div>
    <img class="cover-img" src="img/star-background.jpg">
  </div>
</div>

<section id="lab" class="labs">
    <div class="lab-previews-container row">
        <div class="lab-preview col l4 m6 s12" ng-repeat="experiment in vm.experiments">
            <div class="lab-preview-title-container">
                <div class="lab-preview-heading">
                    <div class="lab-preview-category">{{experiment.category}}</div>
                </div>
                <div class="lab-preview-title">{{experiment.title}}</div>
                <div class="lab-preview-authors-container">
                    <div class="lab-preview-authors">{{experiment.authors}}</div>
                </div>
            </div>
            <div class="lab-preview-text-container">
                <div class="lab-preview-text">{{experiment.preview}}</div>
                <a ui-sref="experiment({titlePath: experiment.titlePath})">Try it out!</a>
                <div class="lab-preview-tags">
                    <div class="chip" ng-repeat="tag in experiment.tags">{{tag}}</div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
  (function($) {
    $('.parallax').parallax();
  })(jQuery);
</script>