<section id="lab" class="labs">
    <div class="lab-previews-container">
        <div class="lab-preview" ng-repeat="exp in vm.experiments">
            <div class="lab-preview-title-container">
                <div class="lab-preview-heading">
                    <div class="lab-preview-category">{{exp.category}}</div>
                </div>
                <div class="lab-preview-title">{{exp.title}}</div>
                <div class="lab-preview-authors-container">
                    <div class="lab-preview-authors">{{exp.authors}}</div>
                </div>
            </div>
            <div class="lab-preview-text-container">
                <div class="lab-preview-text">{{exp.preview}}</div>
                <a ui-sref="experiment({titlePath: exp.titlePath})">Try it out!</a>
                <div class="lab-preview-tags">
                    <div class="chip" ng-repeat="tag in exp.tags">{{tag}}</div>
                </div>
            </div>
        </div>
    </div>
</section>
