<section id="lab" class="labs">
    <div class="lab-previews-container">
        <div class="lab-preview" ng-repeat="experiment in vm.experiments">
            <div class="lab-preview-title-container">
                <div class="lab-preview-heading">
                    <div class="lab-preview-category">{{experiment.category}}</div>
                </div>
                <div class="lab-preview-title">{{experiment.title}}</div>
                <div class="lab-preview-authors-container">
                    <div class="lab-preview-authors">{{experiment.authors}}</div>
                </div>
            </div>
            <div class="lab-preview-text-container">
                <div class="lab-preview-text">{{experiment.preview}}</div>
                <a ui-sref="experiment({titlePath: experiment.titlePath})">Try it out!</a>
                <div class="lab-preview-tags">
                    <div class="chip" ng-repeat="tag in experiment.tags">{{tag}}</div>
                </div>
            </div>
        </div>
    </div>
</section>
